@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html{
    height:100%;
}

body{
    background-color: rgb(221, 241, 253);
    height: 100%;
}

.header{
    background-color: #05595B;
    display: flex;
    justify-content: flex-end;
    flex: auto;
    width: 100%;
    padding: 1em;
}

.img1{
    display: block;
    width: 100%;
}
.signup{
    background-color: #a9dcdc;
    border: 0em;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    color: black;
    margin: 0px 15px;
}

.signup:hover{
    text-decoration: underline;
}

.box{
    color: white;
    background-image: url(./Feb052.svg);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1em;
    border-radius: 0.50em;
}

.box2{
    color: white;
    background-image: url(./vecteezy_blank-math-template-with-math-symbol_.jpg);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1em;
    border-radius: 0.50em;
}

.edit{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1cm;
    background-color: #a9dcdc;
    border: 0em;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    color: black;
    margin: 10px 20px;
}

.edit:hover{
    text-decoration: underline;
}